.product-item {
  background-color: #2a2a2a;
  color: var(--text-light);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(242, 183, 5, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(242, 183, 5, 0.4);
}

.product-item img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1.3rem;
  color: var(--main-color);
  margin-bottom: 0.5rem;
}

.product-item p {
  font-size: 0.95rem;
  margin: 0.3rem 0;
}